<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Triggers">
    <title>Triggers - Thermal Lookout</title>
    
    <link rel="stylesheet" href="/static/css/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="/static/css/side-menu.css">
        <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Thermal Lookout</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/static/about.html" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/static/video_feed.html" class="pure-menu-link">Live Thermal Video</a></li>
                <li class="pure-menu-item"><a href="/static/lvideo_feed.html" class="pure-menu-link">Live Video</a></li>
                <li class="pure-menu-item menu-item-divided pure-menu-selected"><a href="/triggers" class="pure-menu-link">Triggers</a></li>
                <li class="pure-menu-item"><a href="/log" class="pure-menu-link">Log</a></li>

                <li class="pure-menu-item"><a href="/static/contact.html" class="pure-menu-link">Contact</a></li>
				<li class="pure-menu-item"><a href="/control" class="pure-menu-link">Settings</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>Triggers</h1>
            <h2>Setup triggers for alerts</h2>
        </div>

        <div class="content">

<h2 class="content-subhead">Quick Add Triggers</h2>
<table class="pure-table-horizontal">
<tbody>
<tr>
<td><form action="/update?{{ url }}"
                    enctype="multipart/form-data"
                    method="post">
 <input name="triggerName" type="hidden" value="fire_detected" /> 
 <input name="minTemp" type="hidden" value="150" /> 
 <input name="maxTemp"  type="hidden" value ="450"   /> 
 <input name="imgPercent"  type="hidden" value="0.05"/> 
 <input name="onDelay" type="hidden"   value="2" /> 
 <input name="offDelay" type="hidden"  value="40"  /> 
 <input name="repeatDelay" type="hidden" value="3600"/> 
 <input type="submit" name="submit" value="New Fire Trigger"></form></td>
<td> <form action="/update?{{ url }}"
                    enctype="multipart/form-data"
                    method="post">
 <input name="triggerName" type="hidden" value="person_detected"/> 
 <input name="minTemp" type="hidden" value="28" /> 
 <input name="maxTemp"  type="hidden" value ="35"   /> 
 <input name="imgPercent"  type="hidden" value="0.50"> 
 <input name="onDelay" type="hidden"   value="3" /> 
 <input name="offDelay" type="hidden"  value="10"  /> 
 <input name="repeatDelay" type="hidden" value="5000"/> 
 <input type="submit" name="submit" value="Body Heat Trigger"></form></td>
</tr>
</tbody>
</table>
<h2 class="content-subhead">My Triggers</h2>
<table class="pure-table-horizontal">
<thead>
<tr>
<td>
Trigger<br>
Name
</td>
<td>
Min<br>
Temp
</td>
<td>
Max<br>
Temp
</td>
<td>
Image<br>
Percent
</td>
<td>
On<br>
Delay
</td>
<td>
Off<br>
Delay
</td>
<td>
Repeat<br>
Delay
</td>
<td>

</td>
<td> </td>
</tr>
</thead>
<tbody>

{% for trigger in triggers %}
<tr>
<form action="/update?{{ url }}"
                    enctype="multipart/form-data"
                    method="post">
<td><input name="triggerName" size="14" type="text" value="{{ trigger['name'] }}" /></td>
<td><input name="minTemp" type="number" min="0" max="799" step="1" size="3" value="{{trigger['minTemp']}}"/></td>
<td><input name="maxTemp"  type="number" min="0" max="800" step="1" value="{{trigger['maxTemp']}}" /></td>
<td><input name="imgPercent"  type="text" size="4" value="{{trigger['pct']}}"/></td>
<td><input name="onDelay" type="number" min="0" max="100" step="1" value="{{trigger['delayOn']}}"/></td>
<td><input name="offDelay" type="number" min="0" max="100" step="1" value="{{trigger['delayOff']}}" /></td>
<td><input name="repeatDelay" type="number" min="0"  step="1" value="{{trigger['delayRepeat']}}" size="3"/></td>
<td><input name = "key" type="hidden" value = {{trigger['key']}}><input type="submit" name ="submit" value="Save"></td>
<td><input type="submit" name="submit" value="Delete"></form></td>             
</tr>
{% endfor %}
<tr>
<form action="/update?{{ url }}"
                    enctype="multipart/form-data"
                    method="post">
<td><input name="triggerName" size="14" type="text" /></td>
<td><input name="minTemp" type="number" min="0" max="799" step="1" size="3"/></td>
<td><input name="maxTemp"  type="number" min="0" max="800" step="1" /></td>
<td><input name="imgPercent"  type="text" size="4" /></td>
<td><input name="onDelay" type="number" min="0" max="100" step="1" /></td>
<td><input name="offDelay" type="number" min="0" max="100" step="1" /></td>
<td><input name="repeatDelay" type="number" min="0"  step="1" value="2" size="3"/></td>
<td><input type="submit" name="submit" value="Add"></form></td>             
</tr>
</tbody>
</table>
<script src="/static/css/ui.js"></script>
</body>
</html>
